Language: Cpp
BasedOnStyle: WebKit
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
ConstructorInitializerAllOnOneLineOrOnePerLine: true
